pkgbase = pacboost-bin
	pkgdesc = High-performance package manager frontend for Arch Linux with integrated AUR support (precompiled binary)
	pkgver = 2.1.2
	pkgrel = 1
	url = https://github.com/compiledkernel-idk/pacboost
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = pacman
	depends = git
	depends = base-devel
	optdepends = sudo: for privilege escalation during AUR package building
	optdepends = asp: for advanced source package management
	provides = pacboost
	conflicts = pacboost
	conflicts = pacboost-git
	source = pacboost-x86_64-linux.tar.gz::https://github.com/compiledkernel-idk/pacboost/releases/latest/download/pacboost-x86_64-linux.tar.gz
	sha256sums = c6528f79d006667b214c615b579df19f9d7b150e768d32f577d698d449d5f58f

pkgname = pacboost-bin
